.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin-bottom: 100px; }

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 25px;
  color: white;
  position: relative;
  border: 2px solid #000;
  background-color: #fcfcfc; }
  .blog :focus,
  .blog :hover {
    box-shadow: 5px 5px 2px #f13c20; }
  .blog :active {
    box-shadow: 2px 2px 2px #f13c20; }

.blog-link {
  text-decoration: none; }
  .blog-link :focus,
  .blog-link :hover {
    box-shadow: 5px 5px 2px #f13c20; }

.blog-date {
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 2px solid #000; }

.blog-picture {
  margin: 25px 0;
  height: 300px;
  width: 100%; }

.blog-img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.blog-desc {
  line-height: 1.75;
  font-size: 17px; }
