@import "./wrapper.css";
@import "./type.css";

*, *::before, *::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

li {
    margin-left: 50px;
}

ul {
    margin-bottom: 20px;
    line-height: 25px;
}

body {
    font-family: aileron, sans-serif;
    padding: 50px;
}

table {
    width: 100%;
    text-align: left;
}


tr:nth-child(2n) {
    background-color: #e0e0e0;
}

table, th, td {
    border: 1px solid #2b2b2b;
    border-collapse: collapse;
    padding: 10px;
}

.table-divider {
    margin-top: 50px;
    line-height: 25px;
}