.wrapper {
    width: 1366px;
    margin: 0 auto;
}

@media only screen and (max-width: 1366px) {
    .wrapper {
        width: 1024px;
    }
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 768px;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}