$black: #000;
$white: #fff;

$background-color-main: #fcfcfc;
$on-background: $black;

$surface: $white;
$on-surface: $black;

$error: #b00020;
$on-error: $white;

$red-light: #f68a79;
$red: #f13c20;
$red-dark: #902413;
$on-red: $white;
$on-red-light: $black;

$blue-light: #8c99c6;
$blue: #4056a1;
$blue-dark: #263360;
$on-blue: $white;
$on-blue-light: $black;

$yellow-light: #e7c17a;
$yellow: #d79922;
$yellow-dark: #815b14;
$on-yellow: $black;
$on-yellow-light: $black;
