@import "./variables";

#footer {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-bottom: 75px;
}

.footer-menu {
    margin-bottom: 25px;
    display: flex;
    grid-gap: 25px;
}

.footer-menu-link {
    padding-bottom: 2px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    color: black;

    &:hover {
        border-bottom: 3px solid $yellow;
    }
}

@media only screen and (max-width: 1180px) {
    #footer {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 700px) {
    #footer {
        padding-left: 25px;
        padding-right: 25px;
    }
}
