@import "./variables";

.logo {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid gray;

    :hover,
    :focus {
        border: 2px solid $black;
        position: relative;
    }
}

.menu {
    display: flex;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    align-items: center;
    height: 100px;
    padding: 0 0 2px 0;
    padding-top: 50px;
}

.menu-link {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;

    :focus,
    :hover {
        border-bottom: 3px solid $blue;
    }

    :visited {
        color: black;
    }
}

nav {
    display: flex;
    grid-gap: 35px;
    margin-left: auto;
}
